.App {
  text-align: center;
  background-color: #212121;
}




input {
  margin-left: 20px;
}

*:focus {
  outline: none;
}

*:active {
  outline: none;
}

p {
  word-wrap: break-word;
}

.textYes {
  color: green;
}

.textNo {
  color: red;
}