.App {
  text-align: center;
}

body {
  background-color: #fff;
  min-width: 100%;
  min-height: 100%;
}

input {
  margin-left: 20px;
}

*:focus {
  outline: none;
}

*:active {
  outline: none;
}

p {
  word-wrap: break-word;
}

.textYes {
  color: green;
}

.textNo {
  color: red;
}